
<div style="margin-left: 25vw; width:50%; font-size: 17px; background-color:#f7f6f6; padding:2vw; border-radius:20px;">
    <h1 style="text-align:center">Контакты</h1><br/>
    Попов Юрий Юриевич (Клиентская часть): Urik2798@gmail.com <br />
    Шербатых Артур Александрович (Разработка алгоритмов): art1222227@gmail.com <br />
    Ербаев Нурболат Куанышулы (Серверная часть): nurbolat.erbaev@gmail.com <br />
</div>
<style>
body { background-color: #42c8ac; color: black; }
</style>